/* Reset tools*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img{
  max-width: 100%;
}
body{
  font-family: 'Roboto';
  font-size: 15px;
}
h1{
  font-size: 70px;
  margin-bottom: 30px;
  margin: 0px;
}
h2{
  font-size: 35px;
  font-style: bold;
  margin-bottom: 20px;
  margin: 0px;
}
h3{
  font-size: 20px;
  font-weight: lighter;
  
}
h4{
  font-size: 20px;
  font-weight: lighter;
  
}
h5{
  font-size: 40px;
  margin-bottom: 30px;
  margin: 0px;
}
h6{
  font-size: 40px;
  margin: 0px;
}
p{
    font-weight: bolder;
}
/*fin*/
.header{
  width: 100%;
  justify-content: space-between;
  border-bottom-style: outset;
  display: flex;
  align-items: center;
}
.header .left{
  display: flex;
  padding: 10px;
  align-items: center;
}
.header .left > div {
  margin: 5px;
  padding: 5px;
}
.right{
  display: flex;
  justify-content: right;
}
.acces{
  display: inline-block;
  border: solid;
  border-radius: 5px;
  border-color:  black;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 5px 5px;
  margin: 0px;
}
.panier{
  display: inline-block;
  border:solid;
  border-radius: 5px;
  border-color:  black;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 10px 10px;
  margin: 0px;
}
.header .right > div{
  margin: 10px;
  padding: 10px;
}
.titre{
  justify-content: center;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  padding-bottom: 45px;
  padding-top: 45px;
}
.accueil{
  margin-left: 100px;
  color: blue;
  font-weight: bolder;
  padding-bottom: 25px;
}
.grid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media screen and (max-width: 415px) {
  .grid{
    display: grid;
    grid-template-columns:1fr;
    gap: 10px;
  }
}
.sectionprod {
  background-color: white;
  width: 100%;
  height: 260px;
  font-size: 15px;
  text-align: center;
  padding-top: 65px;
}
.sectionprod button {
  background-color:  white;
  border-radius: 5px;
  border: solid;
  color: black;
  border-color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.flex-container {
  display: flex;
  height: 170px;
  width: 100%;
  padding-top: 55px;
  background-color: white;
  justify-content: center;
}
.flex-container > div {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}
.footer{
  display: flex;
  justify-content: center;
  height: 240px;
  width: 100%;
  padding-top: 65px;
  background-color: white;
  border-top-style: outset;
}


  